* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: white;
    font-family: "Open Sans", "Arial", sans-serif;
}

:root {
    --yellow-beige: #fff9f4;
    --teal-blue: #267988;
    --orange: #ff7e3f;
    --green: #477d14;
    --white: #fff;
    --black: #000; 
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: var(--yellow-beige);
    padding: 1em;
    margin-bottom: 1em;
    /* look up margin/padding */
}

.enhanceblue {
    color: var(--teal-blue);
}

header h1 {
    color: var(--green);
    font-size: 1.5rem;
    /* figure out font */
}

.title {
    display: flex;
    align-items: center;
}

.title img {
    width: 3.5em;
    /* i want to make this bigger */
}

h2 {
    margin: 1em;
    font-size: 1.75rem;
}

p {
    margin: 1em;
    font-size: 1.1rem;
}