* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: white;
    font-family: "Open Sans", "Arial", sans-serif;
}

:root {
    --yellow-beige: #fff9f4;
    --teal-blue: #267988;
    --teal-blue-opacity: rgba(38, 121, 136, 0.2);
    --orange: #ff7e3f;
    --orange-opacity: rgba(255, 126, 63, 0.3);
    --green: #477d14;
    --green-opacity: rgba(71, 125, 20, 0.5);
    --white: #fff;
    --black: #000;
}

header {
    position: sticky;
    top: 0;
    background-color: var(--yellow-beige);
    padding: 1em;
    background-image: url("img/cadeuceus.png");
    background-size: 11em;
    background-repeat: no-repeat;
    background-position: -5%;
    border-bottom: solid 3px var(--green);
}

.enhanceblue {
    color: var(--teal-blue);
}

header h1 {
    color: var(--green);
    font-size: 1.6rem;
    /* figure out font */
}

.title {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.title-name {
    margin-left: .5em;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

nav ul li a {
    text-decoration: none;
    color: var(--green);
    font-weight: bold;
    text-transform: uppercase;
    font-size: .8em;
}

nav ul li a:hover {
    background-color: var(--teal-blue-opacity);
    padding: 0.625em 0.625em;
    border-radius: 1.875em;
}

button {
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: var(--teal-blue);
    padding: .25em .5em;
    border-radius: .5em;
}

main {
    margin: 0 1em;
    padding: 1em;
}

h2 {
    font-size: 1.75rem;
    margin: .5em 1em;
    padding: 0 .5em;
    text-align: center;
}

section {
    margin-bottom: 2em;
}

.overview-title,
.who-we-are,
.proposal-title,
.contact-title {
    display: block;
    margin: auto;
    margin-bottom: 1em;
}

.overview-title {
    color: var(--teal-blue);
    background-color: var(--orange-opacity);
    width: 6em;
}

.who-we-are {
    color: var(--green);
    background-color: var(--teal-blue-opacity);
    width: 7.5em;
}

p {
    font-size: 1rem;
}

.speaker-single {
    display: flex;
    flex-direction: column;
    margin: 1em;
    justify-content: center;
    align-items: center;
    /* box-shadow: ; */
    /* background-color: var(--orange-opacity); */
}

.speaker-description {
    margin-bottom: 2em;
}

.speaker-single img {
    max-width: 60%;
    height: auto;
    padding-bottom: 1em;
}

/*consider changing this to a div and using background-image*/

.speaker-single-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--orange-opacity);
    padding: 1em;
    /* margin: 1em; */
}

.name {
    font-weight: bold;
}

.headline {
    font-size: .89rem;
    margin-bottom: .5em;
}

/* .proposal-info-one, .proposal-info-two {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
} */

.proposal-info {
    display: flex;
    flex-direction: column;
}

.proposal-info div {
    margin-bottom: 1em;
}

.proposal-info .name {
    text-transform: uppercase;
    font-size: 1.25em;
}

.right-name {
    font-weight: bold;
}

.first-bullets {
    padding-top: 1em;
    padding-left: 2em;
}

.second-bullets {
    padding-left: 2em;
}

.proposal-title {
    color: var(--orange);
    background-color: var(--teal-blue-opacity);
    width: 8.5em;
}

.contact-title {
    color: var(--teal-blue);
    background-color: var(--green-opacity);
    width: 5.5em;
}

.social-media {
    text-align: center;
}

footer .social-icons {
    display: flex;
    justify-content: space-around;
}

.social-icons li {
    width: 2.5em;
    height: 2.5em;
    list-style-type: none;
}

.social-icons li i {
    font-size: 1.875rem;
    color: var(--orange);
}

.footer-credit {
    font-size: 0.8em;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

@media (min-width: 768px) {
    /*tablet*/
}

@media (min-width: 1200px) {
    /* desktop */

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* .title {
        
    } */

    header h1 {
        font-size: 2rem;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
    }

    nav ul li {
        padding: 0.625rem 0.625rem;
    }

    section, .contact-wrapper {
        padding: 1em 2em;
        margin-bottom: 0em;
    }

    .overview-title,
    .who-we-are,
    .proposal-title, .contact-title {
        display: flex;
        margin: 0;
        margin-bottom: 1em;
    }

    .speakers {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .speaker-single {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 1em;
        width: 75%;
        /* rounded corners and also a box shadow */
    }

    .speaker-single img {
        width: 25%;
        margin-right: 1em;
    }

    .speaker-single-text {
        align-items: baseline;
        padding-top: 1em;
        padding-right: .5em;
        padding-bottom: 1em;
    }

    .proposal-info {
        display: grid;
        grid-template-columns: auto auto;
        gap: 1em;
        justify-content: space-around;
    }

    footer {
        margin: 0 1em;
        padding: 1em;
    }

    footer .social-icons {
        justify-content: space-around;
    }

    footer .social-icons li i {
        font-size: 3em;
    }

    .footer-credit {
        margin-top: 3em;
    }
}