* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: white;
    font-family: "Open Sans", "Arial", sans-serif;
}

:root {
    --yellow-beige: #fff9f4;
    --teal-blue: #267988;
    --orange: #ff7e3f;
    --green: #477d14;
    --white: #fff;
    --black: #000; 
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: var(--yellow-beige);
    padding: 1em;
    margin-bottom: 1em;
    /* look up margin/padding */
}

.enhanceblue {
    color: var(--teal-blue);
}

header h1 {
    color: var(--green);
    font-size: 1.5rem;
    /* figure out font */
}

.title {
    display: flex;
    align-items: center;
}

.title img {
    width: 3.5em;
    /* i want to make this bigger/cut-off at the header like in the graphics*/
}

.title-name {
    margin-left: .5em;
}

button {
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: var(--teal-blue);
    padding: .25em .5em;
    border-radius: .5em;
}

h2 {
    margin: 1em;
    font-size: 1.75rem;
}

section p {
    margin: 1em;
    font-size: 1rem;
}

.speaker-single {
    background-color: pink;
    display: flex;
    margin: 1em;
}

.speaker-single img {
    width: 40%;
    margin-right: 1em;
}

footer {
    background-color: var(--yellow-beige);
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;  
    }
}

@media (min-width: 768px) {
 /*tablet*/
}

@media (min-width: 1200px) {
    /* desktop */

}